.map {
    height: 83%;
    padding: 40px 0px 0px 0px;
}
.grilla{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 00px 0px 0px 0px;
}
