* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {background:#333333;}

.menu_bar {
	display:none;
    background: #333333;
    height: 5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

header {
	width: 65%;
    background: #333333;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 100;
    opacity: 0.2;
}

header nav {
	background:#333333;
	z-index:1000;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
    height: 10%;
}

header nav ul {
	list-style:none;
    display: flex;
    align-content: space-between;
}

header nav ul li {
	display:inline-block;
	position: relative;
}
header nav ul li a:hover {
    background: white;
    color: black;
}    
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
}

header nav ul li a span {
	margin-right: 10px;
}
/*
header nav ul li:hover .children {
	display:block;
    background: white;
    color: black;
}
*/
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right: 10px;
	margin-left: 0px;
}

header nav ul li .caret {
	position: relative;
	top: 3px;
	margin-left: 0px;
	margin-right: 10px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top: 0px;
	}

	.menu_bar {
		display: inline-block;
		width: 100%;
		position: fixed;
		top: 0;
		background: #333333;
        height: 10%;
	}

	.menu_bar .bt-menu {
		display: inline;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 25px;
	}

	header nav {
		width: 80%;
        height: 100%;
/*		height: calc(100% - 200px); */
		position: fixed;
		right: 100%;
		margin: 0;
        top: 0;
/*		overflow: scroll; */
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
        background: #333333;
	}

	header nav ul li a {
		display: block;
	}
	header nav ul li a:hover {
        background: white;
        color: black;
	}    
    
	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-right: 30px;
	}

	header nav ul li .caret {
		float: left;
	}
    .boton{
        display: block;
        padding: 50px 0px 0px 0px;
    }
    .icono-bar{
        left: 0;
        margin-left: auto;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
    }    
}
.material-icons.md-light { 
    color: white; 
    text-align: right;
    right: 0;
    margin-right: auto;
}
.material-icons.md-dark { 
    color: black;
}

.material-icons.md-light.showIcon {
    color: white;
    text-align: right;
}

.material-icons.md-light.showIcon:hover { 
    color: #333333; 
    text-align: right;
}
.material-icons.md-dark.noShowIcon { 
    color: #333333;
}
.material-icons.md-dark.noShowIcon:mouseover { 
    color: white;
}
.encabezado-menu{
    background: #333333;
    color: white;
}
.textoDerecha {
    text-align: right;
    position: absolute;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
/*    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;*/
}

header:hover {
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

.headerForm {
    top: 0%;
    height: 100%;
	width: 25%;
    background: #333333;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    position: fixed;
    opacity: 1;
    color: white;
}

.letraMenu {
    font-size: 12px;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin-top: auto;
    vertical-align: middle;
    margin: 0 0 0;
    padding: 0px 1px 0px 1px;
    letter-spacing: 1px;
}

.headerFormVideo {
    top: 15%;
	width: 30%;
    background: #333333;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    opacity: 1;
    color: white;
}

.liClass {
    background-color: #333333;
    font-size: 18px;
}