.mdl-layout {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}
.mdl-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.mdl-button2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    text-align: center;
}
.mdl-button--coloredx{
    width: 100%;
    background: #333333;
    color: white;
}
.boton-stilo{
    font-size: 18px;
}

.btn_add {
    padding: 10px;
    background: #E6E6E6;
    color: #333333;
    border-radius: 6px;
    border: 2px solid #424242;
    font-weight: 600;
}

.btn_add:hover {
    background: #424242;
    color: #FFFFFF;
}

.btn_cancel {
    padding: 10px;
    background: #E6E6E6;
    color: #333333;
    border-radius: 6px;
    border: 2px solid #424242;
    font-weight: 600;
}

.btn_cancel:hover {
    background: #8A0808;
    color: #FFFFFF;
}