.map {
    height: 100%;
    padding: 0px 0px 0px 0px;
    z-index: 10;
}
.grilla{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0px 0px 0px 0px;
}
